<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="admin-header (admin)">
    <ul class="sidenav sidenav-fixed" id="sidenav-1">
        <li>
            <div class="user-view">
                <h1>We<span>source</span></h1>
                <div class="admin-header-user">

                    <a href="#"><span class="name" th:text="${admin.username}">John Doe</span></a>
                    <a href="#"><span class="name" th:text="${admin.role.role}">ALL</span></a>
                </div>
            </div>
        </li>
        <li class="divider"></li>
        <li><a href="/admin/admin" th:if="${admin.role.role} == 'ROLE_ALL'"><i class="material-icons left">account_box</i>Admin</a></li>
        <li><a href="/admin/companies" th:if="${admin.role.role} != 'ROLE_PRODUCTS'"><i class="material-icons left">location_city</i>Companies</a></li>
        <li><a href="/admin/product"><i class="material-icons left">star</i>Products</a></li>
        <li><a class="modal-trigger" href="#modal-logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
    </ul>
    <div class="modal sidebar" id="modal-logout">
        <div class="modal-content"> Are you sure you want to logout?</div>
        <div class="modal-footer logout-footer">
            <form method="get" action="/logout">
                <input class="modal-close btn" type="submit" th:value="logout" name="submit">
            </form>
            <input class="modal-close btn" type="submit" th:value="cancel" name="submit">
        </div>
    </div>
</header>
</body>
</html>