<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="admin-header">
    <ul id="sidenav-1" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <h1>We<span>ssource</span></h1>
                <div class="admin-header-user">
                    <a href="#"><span class="name">John Doe</span></a>
                    <a href="#"><span class="name">JDoe</span></a>
                    <a href="#"><span class="name">ADMIN</span></a>
                </div>

            </div>
        </li>
        <li class="divider"></li>
        <li><a href="#"><i class="material-icons left">account_box</i>Admin</a></li>
        <li><a href="#"><i class="material-icons left">home</i>Home Page</a></li>
        <li><a href="#"><i class="material-icons left">location_city</i>Companies</a></li>
        <li><a href="#"><i class="material-icons left">star</i>Products</a></li>
    </ul>

</body>
</html>