<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="admin-modal (admin, header)" class="modal" id="modal1">
    <div class="modal-content">
        <div class="col s12">
            <h4>ADD NEW ADMIN</h4>
        </div>
        <form action="/admin/admin/create" class="col s12" id="createForm" method="post" th:object="${admin}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <div class="row">
                <div class="input-field col s6">
                    <input class="validate" id="user_name" name="username" th:field="*{username}" type="text">
                    <label for="user_name">Username</label>
                    <span class="helper-text" data-error="Missing username"></span>
                </div>
                <div class="input-field col s6">
                    <select class="validate" id="roles" name="role" th:field="*{role}">
                        <option disabled selected value="select">Choose your option</option>
                        <option th:each="role : ${roles}" th:text="${role.role}" th:value="${role.id}">ALL</option>
                    </select>
                    <span class="helper-text" id="select-error"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input class="validate" id="email" name="email" th:field="*{email}" type="email">
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Missing email"></span>
                </div>
                <div class="input-field col s6">
                    <input class="validate" id="password" name="password" th:field="*{password}" type="password">
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Missing password"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="passwordConfirm" name="passwordConfirm"
                           type="password">
                    <label for="passwordConfirm">Confirm Password</label>
                    <span class="helper-text" data-error="Missing password confirmation"></span>
                </div>
                <button class="btn-create col s2 offset-s10 waves-effect waves-green btn" id="create">Create
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>