<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="header" class="header-header">
        <img src="/image/Wesource_v1.png" alt="logo ressource">
        <form action="" class="header-search" method="get">
            <input class="header-search-bar" id="header-search-bar" name="searching" placeholder="Search by ..."  type="text">
            <button><i class="fas fa-search"></i></button>
        </form>
        <div class="header-icons">
            <a><i class="fas fa-heart"></i></a>
            <a><i class="fas fa-suitcase"></i></a>
        </div>
    </header>
</body>
</html>