<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <script src="https://kit.fontawesome.com/8f4bb5d891.js" crossorigin="anonymous"></script>
    <!-- Nimbus -->
    <link href="//db.onlinewebfonts.com/c/23fab04cd09bfa1bae2991c14b0b546f?family=NimbusRomD" rel="stylesheet" type="text/css"/>
    <!-- Futura -->
    <link href="//db.onlinewebfonts.com/c/0ba9253983e3a7a7cc896e85b1ceb2be?family=Futura+PT+Web+Book" rel="stylesheet" type="text/css"/>
</head>
<body>

</body>
</html>