@import url('style.css');
@import url('admin_sidebar.css');


.admin-admin h2 {
    font-weight: 300;
}

.admin-btn-new {
    background-color: white;
    color: var(--color-bkg-button);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.admin-btn-new i {
    color: var(--color-bkg-button);
}

.admin-btn-new:hover {
    background-color: var(--color-bkg-button);
    color: white;
}

.admin-btn-new:hover > i {
    color: white;
}

.admin-table-management i {
    color: var(--color-bkg-button);
}

.btn-create {
    background-color: var(--color-bkg-button);
}
.btn-create:hover {
    background-color: var(--color-bkg-button);
}

.dropdown-content li > span {
    color: var(--color-bkg-button);
}


.modal form label {
    font-size: 1.2rem;
}

.modal-content h4 {
    margin-bottom: 2rem;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus,
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--color-bkg-button);
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label{
    color: var(--color-bkg-button);
}

input[type="text"]:not(.browser-default).validate + label, .input-field label {
    color:#000
}

.btn-icon {
    background: transparent;
    border: none;
}

.btn-icon:hover {
    cursor: pointer;
}

.icons-admin {
    display: flex;
    margin: 0.2rem;
    align-items: center;
}

.icons-admin form {
    display: flex;
    align-items: center;
}

.modal.deleteAdmin {
    width:20%;
}

.logout-footer.modal-footer {
    padding-left: 1.5rem;
}

.input-field .prefix.active, .input-field .prefix {
    color: var(--color-bkg-button);
}