@import url('style.css');


h4 {
    font-family: var(--font-title);
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}

p {
    font-family: var(--font-text);
    text-align: center;
}

.product-section-top {
    background-color: var(--color-bkg-secondary);
    min-height: min-content;
}

.product-container-top {
    display: flex;
    justify-content: space-around;
    height: 40rem;
    padding-top: 1.5rem;
}

/* Image */
/* Slideshow container */
.product-slideshow-container {
    width: 50%;
    height: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    background: center;
}

/* Next & previous buttons */
.product-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.product-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 0;
}

/* fin image*/

.product-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-description p, .product-description h3, .product-description a, .product-description div form {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    text-align: center;
}

.product-button-top {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    padding-bottom: 1.5rem;
}

.product-button {
    position: relative;
}

.product-button-meeting, .product-button-wishlist {
    width: 18rem;
    height: 3.5rem;
    font-size: 1rem;
    padding-left: 5rem;
    padding-right: 3rem;
    border-radius: 10px;
    font-family: var(--font-text);
}

.product-button-meeting {
    background-color: var(--color-bkg-button);
    color: var(--color-font-light);
}

.product-button .fa-suitcase {
    color: #B7B7B7;
    position: absolute;
    top: 15px;
    left: 23%;
    font-size: 1.5rem;
}

.product-button-wishlist {
    background-color: #B7B7B7;
}

.product-button .fa-heart {
    position: absolute;
    top: 15px;
    left: 23%;
    font-size: 1.5rem;
}

/*  carousel*/
.slick-slider {
    margin-left: 4rem;
    margin-right: 4rem;
}

.section-product-bot {
    position: relative;
}

/* like  */
.arrow_prev_like, .arrow_next_like {
    position: absolute;
    top: 40%;
}

.arrow_prev_like, .fas fa-chevron-left {
    left: 10px;
    font-size: 3rem;
}

.arrow_next_like, .fa-chevron-right {
    right: 25px;
    font-size: 3rem;
}

/* review  */
.arrow_prev_rev, .arrow_next_rev {
    position: absolute;
    top: 40%;
}

.arrow_prev_rev, .fas fa-chevron-left {
    left: 10px;
    font-size: 3rem;
}

.arrow_next_rev, .fa-chevron-right {
    right: 25px;
    font-size: 3rem;
}

@media only screen and (max-width: 767px) {

    .product-container-top {
        display: flex;
        padding-top: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-slideshow-container {
        width: 90%;
        position: relative;
        margin: auto;
    }

    .product-description {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .mySlides img {
        width: 100%;
        height: 350px;
        margin-top: 2rem;
        padding-top: 15rem;
    }

    .product-next, .product-prev {
        top: 70%;
    }

    .product-section-top {
        height: 1100px;
    }

    .product-button-top {
        align-self: flex-end;
        align-items: center;
        flex-direction: column;
    }

    .product-button {
        margin: 1rem;
    }

    .product-button .fa-suitcase, .product-button .fa-heart {
        left: 45px;
    }

    .product-section-top {
        display: grid;
    }
}

@media only screen and (max-width: 767px) {

    .product-container-top {
        display: flex;
        padding-top: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-slideshow-container {
        width: 90%;
        position: relative;
        margin: auto;
    }

    .product-description {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .mySlides img {
        width: 100%;
        height: 350px;
        margin-top: 2rem;
        padding-top: 15rem;
    }

    .product-next, .product-prev {
        top: 70%;
    }

    .product-section-top {
        height: 1100px;
    }

    .product-button-top {
        align-self: flex-end;
        align-items: center;
        flex-direction: column;
    }

    .product-button {
        margin: 1rem;
    }

    .product-button .fa-suitcase, .product-button .fa-heart {
        left: 45px;
    }

    .product-section-top {
        display: grid;
    }
}
