@import url('style.css');

.results {
    display: flex;
    padding-left: 2rem;
}

.results-back a {
    text-decoration: none;
    color: var(--color-font-dark);
}

.results-back {
    margin-left: 5rem;
    font-family: var(--font-title);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.results-back:hover {
    cursor: pointer;
}

/* FILTERS */
.results-filters {
    flex-basis: 25%;
    border-right: 2px solid var(--color-bkg-secondary);
    padding-right: 2.5rem;
}

.filters {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: var(--font-text);
    border-bottom: 2px solid var(--color-bkg-secondary);
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.filters-title {
    align-self: center;
    padding-bottom: 0.5rem;
    font-family: var(--font-title);
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}

.filters div {
    margin-top: 0.5rem;
}

.results-filters-radio {
    margin-left: 2rem;
}

.results-filters-radio {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.results-filters-radio input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 20%;
    left: 0;
    height: 12px;
    width: 12.3px;
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.results-filters-radio:hover input ~ .checkmark {
    background-color: var(--color-bkg-button);
}

/* When the radio button is checked, add a background */
.results-filters-radio input:checked ~ .checkmark {
    background-color: var(--color-bkg-button);
}

.filters input {
    outline: none;
    margin-right: 0.2rem;
}

.filters-see-more {
    align-self: center;
    color: var(--color-bkg-button);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.filters-table {
    display: flex;
    flex-wrap: wrap;
}

.filters-table div {
    width: 30%;
    text-align: center;
    border: 1px solid var(--color-border);
    margin: 0;
    position: relative;
    display: flex;
}

.filters-table input {
    visibility: hidden;
    position: absolute;
}

.filters-table label {
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%
}

.filters-table div:hover {
    cursor: pointer;
    background-color: var(--color-bkg-button);
    color: var(--color-font-light);
}

.results-filters-radio-table-fabric.clicked,
.results-filters-radio-table-compo.clicked,
.results-filters-radio-table-price.clicked {
    background-color: var(--color-bkg-button);
    color: var(--color-font-light);
}

.filters-table div:nth-child(-n+3) {
    border-top: 1.5px solid var(--color-border);
}

.filters-table div:nth-child(3n+3), .filters-table div:last-child {
    border-right: 1.5px solid var(--color-border);
}

.filters-table div:nth-child(3n+1) {
    border-left: 1.5px solid var(--color-border);
}

.filters-table div:nth-last-child(-n+3) {
    border-bottom: 1.5px solid var(--color-border);
}

@-moz-document url-prefix() {
    .filters-table div:nth-child(-n+3) {
        border-top: 2.5px solid var(--color-border);
    }
    .filters-table div:nth-child(3n+3), .filters-table div:last-child {
        border-right: 2.7px solid var(--color-border);
    }
    .filters-table div:nth-child(3n+1) {
        border-left: 2.5px solid var(--color-border);
    }
    .filters-table div:nth-last-child(-n+3) {
        border-bottom: 2.3px solid var(--color-border);
    }
}

/*-------------------------- SLIDERS------------------------ */
.sliders-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 80%;
}

.sliders, .sliders-p {
    display: flex;
    width: 100%;
}

.sliders-p {
    display: flex;
    justify-content: space-between
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-bkg-button);
    cursor: pointer;
    border-style: none;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-bkg-button);
    cursor: pointer;
    border-style: none;
}

.slider::-moz-focus-outer {
    border: 0;
}

.slider2 {
    position: relative;
    left: -5.2px;
}

/* ----------------------------RESULTS PRODUCT -----------------------------*/
.results-results {
    margin-left: 3rem;
    flex-basis: 90%;
}

.results-title_sort {
    display: flex;
    justify-content: space-between;
    width: 96%;
    align-items: start;
}

.results-title {
    font-family: var(--font-title);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
}

.results-sort-form {
    position: relative;
}

.results-sort-form:after {
    content: '\f078';
    font: normal normal normal 1.8rem/1 FontAwesome;
    color: var(--color-font-dark);
    right: 0;
    top: 5px;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

.results-sort-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    margin: 5px 0;
    padding: 0 24px;
    font-size: 1.5rem;
    color: var(--color-font-dark);
    background-color: #ffffff;
    background-image: none;
    border-style: none;
    -ms-word-break: normal;
    word-break: normal;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.results-products {
    display: flex;
    flex-wrap: wrap;
}

/* ------------------------------DIVS ONLY FOR MOBILE-------------------------- */
.results-header-mobile, .results-menu-nav {
    display: none;
}

#results-nav-search {
    display: none;
}

/* ----------------------------MOBILE VERSION--------------------------- */

@media only screen and (max-width: 767px) {
    /* -------------HEADER MOBILE ---------------*/
    .results-header-mobile {
        display: flex;
        flex-direction: column;
        background-color: var(--color-bkg-button);
        color: var(--color-font-light);
        align-items: center;
        padding: 1.5rem 0 0.5rem 0;
        border-radius: 0 0 25px 25px;
        overflow: hidden;
        z-index: 99;
    }

    #mobile-filter {
        font-family: var(--font-title);
        font-size: 1.4rem;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .results-header-mobile-buttons {
        display: flex;
        justify-content: space-around;
        width: 75%;
        align-items: center;
        position: relative;
        margin-top: 0.5rem
    }

    .results-header-mobile-sort-form {
        position: relative;
    }

    .results-filter-form:after {
        content: "";
        background-color: white;
        position: absolute;
        width: 1px;
        height: 24px;
        top: 5px;
        left: 50%;
        display: block;
    }

    .results-header-mobile-sort:after {
        content: '\f078';
        font: normal normal normal 1.3rem/1 FontAwesome;
        color: var(--color-font-light);
        right: 3px;
        top: 20%;
        position: absolute;
        pointer-events: none;
    }

    .results-header-mobile-sort-form select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        margin: 5px 0;
        padding: 0 13px;
        font-size: 1.3rem;
        color: var(--color-font-light);
        background-color: var(--color-bkg-button);
        border-style: none;
        -ms-word-break: normal;
        word-break: normal;
        outline: 0;
        font-family: var(--font-title);
    }

    .results-filter-form .filter {
        border-style: none;
        background-color: transparent;
        color: var(--color-font-light);
        font-size: 1.3rem;
        font-family: var(--font-title);
    }

    .header-header, .results-back, .results-sort-form {
        display: none;
    }

    /* -------------RESULTS MOBILE ---------------*/
    .results {
        padding: 0;
        width: 100%;
    }

    .results-results {
        margin: 0;
        min-width: 100%;
        margin-bottom: 2rem;
    }

    .results-filters {
        display: none;
    }

    .results-title_sort {
        justify-content: center;
    }

    .results-title {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .results-products {
        justify-content: center;
    }

    .results-header-mobile-sort-form {
        position: relative;
    }

    /* -------------MENU BOTTOM MOBILE ---------------*/
    .results-menu-nav {
        display: flex;
        background-color: var(--color-bkg-button);
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99;
        justify-content: space-around;
        padding: 0.5rem 0;
        border-radius: 15px 15px 0 0;
        font-size: 1.3rem;
        left: 0;
    }

    .results-menu-nav div {
        color: var(--color-font-light);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .results-menu-nav div p {
        font-family: var(--font-title);
        font-size: 1rem;
    }

    #results-nav-search.show {
        display: initial;
    }

    .header-search-bar {
        margin-left: 0.8rem;
        width: 83%;
    }

    .header-search button {
        left: 7%;
    }

    /* -------------FILTERS MOBILE ---------------*/
    .results-filters {
        flex-basis: 100%;
        border-right: none;
        padding-right: 0;
        width: 100%;
    }

    .results-filters.open {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: var(--color-bkg-secondary);
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    body.color {
        background-color: var(--color-bkg-secondary);
    }

    .results-results.active {
        display: none;
    }

    .filters {
        width: 100%;
        align-items: center;
    }

    .results-filters-radio-mobile {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap
    }

    .results-filters-radio-mobile div {
        display: flex;
        background-color: white;
        width: 31%;
        text-align: center;
        padding: 0.5rem 0;
    }

    .results-filters-radio-mobile label {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .results-filters-radio-mobile span {
        display: none;
    }

    .filters-table div {
        width: 27%;
        border: none;
        margin: 0.3rem 0;
    }

    .filters-table div:nth-child(-n+3),
    .filters-table div:nth-child(3n+3),
    .filters-table div:last-child,
    .filters-table div:nth-child(3n+1),
    .filters-table div:nth-last-child(-n+3) {
        border: none
    }

    @-moz-document url-prefix() {
        .filters-table div:nth-child(-n+3),
        .filters-table div:nth-child(3n+3),
        .filters-table div:last-child,
        .filters-table div:nth-child(3n+1),
        .filters-table div:nth-last-child(-n+3) {
            border: none
        }

    }

    .filters-certifications {
        margin-bottom: 3rem;
    }

    .results-filters-radio-table-material.clicked,
    .results-filters-radio-table-origin.clicked,
    .results-filters-radio-table-supplier.clicked,
    .results-filters-radio-table-cert.clicked {
        background-color: var(--color-bkg-button);
        color: var(--color-font-light);
    }

    .results-filters-radio input {
        position: absolute;
    }

}

/* TABLET */
@media only screen and (min-width: 768px)and (max-width: 1240px) {

    .results-back {
        margin-left: 3rem;
        font-size: 1.5rem;
    }

    /* FILTERS */
    .filters-price label {
        font-size: 1rem;
        padding: 0.2rem 0.1rem;
    }

    .results-results {
        margin-left: 1rem;
        flex-basis: 60%;
    }

    .results-filters {
        flex-basis: 40%;
        padding-right: 1.8rem;
    }

    .filters-table div {
        width: 32%;
    }

    /* RESULTS */
    .card-product {
        width: 381px;
    }

    .results-results {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .results-products {
        justify-content: center;
    }

    .results-title {
        font-size: 1.5rem;
    }

    .results-title_sort {
        flex-direction: column;
        align-items: start;
    }

    .results-sort-form {
        margin-bottom: 1rem
    }

    .results-sort-form select {
        font-size: 1.2rem;
        padding: 0 1rem 0 0;
    }

    .results-sort-form::after {
        font: normal normal normal 1.2rem/1 FontAwesome;
    }

}