/*START VARIABLES*/
:root{

    /*color*/
    --color-bkg-primary: #fff;
    --color-bkg-secondary: #f2f2f2;
    --color-bkg-button: #70ad47;
    --color-font-light: #fff;
    --color-font-dark: #000;

    /*Font*/
    --font-title: 'futura PT Book', 'sans serif';
    --font-text: 'nimbus Roman D Regular', 'serif';
}
/*END VARIABLES*/
/*START GENERALITY*/
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card-product{

}
/*END GENERALITY*/
/*START HEADER*/
.header-header{

}

.header-search-bar{

}
/*END HEADER*/