@import url(//db.onlinewebfonts.com/c/0ba9253983e3a7a7cc896e85b1ceb2be?family=Futura+PT+Web+Book);
@import url(//db.onlinewebfonts.com/c/23fab04cd09bfa1bae2991c14b0b546f?family=NimbusRomD);

@font-face {
    font-family: "Futura PT Web Book";
    src: url("//db.onlinewebfonts.com/t/0ba9253983e3a7a7cc896e85b1ceb2be.eot");
    src: url("//db.onlinewebfonts.com/t/0ba9253983e3a7a7cc896e85b1ceb2be.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0ba9253983e3a7a7cc896e85b1ceb2be.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/0ba9253983e3a7a7cc896e85b1ceb2be.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/0ba9253983e3a7a7cc896e85b1ceb2be.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/0ba9253983e3a7a7cc896e85b1ceb2be.svg#Futura PT Web Book") format("svg");
}

@font-face {
    font-family: "NimbusRomD";
    src: url("//db.onlinewebfonts.com/t/23fab04cd09bfa1bae2991c14b0b546f.eot");
    src: url("//db.onlinewebfonts.com/t/23fab04cd09bfa1bae2991c14b0b546f.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/23fab04cd09bfa1bae2991c14b0b546f.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/23fab04cd09bfa1bae2991c14b0b546f.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/23fab04cd09bfa1bae2991c14b0b546f.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/23fab04cd09bfa1bae2991c14b0b546f.svg#NimbusRomD") format("svg");
}

/*START VARIABLES*/
:root {
    /*color*/
    --color-bkg-primary: #fff;
    --color-bkg-secondary: #f2f2f2;
    --color-bkg-button: #70ad47;
    --color-font-light: #fff;
    --color-font-dark: #000;
    --color-bkg-product: #fbfbfb;
    --color-border: #BDBDBD;
    --color-border-product: #ededed;

    /*Font*/
    --font-title: 'Futura PT Web Book', 'sans serif';
    --font-text: 'NimbusRomD', 'serif';
}

/*END VARIABLES*/
/*START GENERALITY*/
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* CARD PRODUCT */
.card-product {
    padding: 0;
    margin-right: 2rem;
    width: 410px;
    margin-bottom: 3rem;
    border: 1px solid var(--color-border-product);
    background-color: var(--color-bkg-product)
}

.card-product-info-supplier {
    padding: 0.7rem;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 1.5rem;
}

.card-product-image img {
    height: 268px;
    width: 100%;
}

.card-product-image {
    position: relative;
}

.card-product-image:hover > a img {
    opacity: 0.3;
}

.card-product-image:hover > .card-product-image-hover {
    display: flex;
    position: absolute;
    top: 45%;
    left: 25%;
    width: 50%;
    font-size: 3rem;
    justify-content: space-around;
    cursor: pointer;
}

.card-product-image-hover {
    display: none;
}

.card-product-info {
    border-top: 0;
    padding: 0.8rem;
    font-family: var(--font-text);
    line-height: 1.4rem;
    width: 95%;
}

.card-product-info-name {
    font-family: var(--font-title);
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.7rem 0;
    font-weight: bolder;
}

.card-product-info-descr {
    width: 70%;
}

.card-product-image-rs {
    display: none;
}

/*END GENERALITY*/

/*START HEADER*/
.header-header {
    display: flex;
    margin: 2rem 2rem 3rem 5rem;
    align-items: center;
    justify-content: space-between;
}

.header-header img {
    width: 96px;
}

.header-search {
    position: relative;
    flex-basis: 66%;
}

.header-search button {
    background: none;
    border-style: none;
    position: absolute;
    top: 20%;
    left: 1%;
    font-size: 1.5rem;
}

.header-search-bar {
    padding-left: 2.7rem;
    width: 100%;
    border-radius: 15px;
    height: 2.5rem;
    border: 1px solid lightgray;
    font-size: 1.3rem;
}

.header-icons {
    flex-basis: 10%;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
}

/*END HEADER*/

@media screen and (max-width: 767px) {

    .card-product {
        width: 90%;
        margin-right: 0;
    }

    .card-product-mobile-rs {
        display: flex;
        width: 94%;
        justify-content: space-between;
        align-items: center;
    }

    .card-product-image-rs {
        display: flex;
        flex-basis: 20%;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .card-product-info {
        padding-top: 0.5rem;
    }

}