<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin | Companies</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <th:block th:include="fragments/head.html :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/admin-companies.css}" type="text/css">
</head>
<body>
<header th:replace="fragments/admin_header.html :: admin-header (${admin}) "></header>
<main class="admin-company">
    <div class="row">
        <div class="col s4 img-company-fixed">
            <h5 class="center-align">Template of company page</h5>
            <img alt="image of companies template" src="/image/admin/img-admin-company.png">
        </div>
        <form action="/admin/upload/company" enctype="multipart/form-data" class="form-admin-company col s7 offset-s5" id="new-company-admin" method="post">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <div class="row">
                <fieldset class="col s10 offset-s1 fieldset-gray">
                    <legend><div id="legend-select-companies" class="center-align grey lighten-2">Choose your option</div></legend>
                    <div class="input-field col s12">
                        <select id="company-choice">
                            <option value="new">Create a new company</option>
                            <option th:each="company : ${companies}" th:value="${company.name}" th:text="${company.name}"></option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <section id="templateCompany" th:object="${companySelected}">

            </section>
        </form>
    </div>
</main>
<!--JavaScript at end of body for optimized loading-->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/admin-companies.js" type="text/JavaScript"></script>
</body>
</html>