<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin | Companies</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <th:block th:include="fragments/head.html :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/admin-companies.css}" type="text/css">
</head>
<body>
<header th:replace="fragments/admin_header.html :: admin-header"></header>
<main class="admin-company">
    <div class="row">
        <div class="col s4 img-company-fixed">
            <h5 class="center-align">Template of company page</h5>
            <img alt="image of companies template" src="/image/admin/img-admin-company.png">
        </div>
        <form action="/admin/companies" class="form-admin-company col s7 offset-s5" method="post">
            <div class="row">
                <fieldset class="col s12 fieldset-gray">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Select the company to change</option>
                            <option value="1">Create a new company</option>
                            <option value="1">Company 1</option>
                            <option value="2">Company 2</option>
                            <option value="3">Company 3</option>
                            <option value="1">Company 4</option>
                            <option value="2">Company 5</option>
                            <option value="3">Company 6</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s5 fieldset-gray">
                    <legend>
                        <div class="center-align grey lighten-2">1</div>
                    </legend>
                    <div>
                        <div class="file-field input-field">
                            <div class="file-path-wrapper">
                                <input type="file">
                                <input class="file-path validate" placeholder="upload your image" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col s5 offset-s2 fieldset-gray">
                    <legend>
                        <div class="center-align grey lighten-2">2</div>
                    </legend>
                    <div>
                        <div class="file-field input-field">
                            <div class="file-path-wrapper">
                                <input type="file">
                                <input class="file-path validate" placeholder="upload your image" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s12 fieldset-green">
                    <legend>
                        <div class="center-align light-green darken-1">3</div>
                    </legend>
                    <div class="input-field col s12">
                        <input class="validate" id="address" type="text">
                        <label for="address">Address</label>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s12 fieldset-green">
                    <legend>
                        <div class="center-align light-green darken-1">4</div>
                    </legend>
                    <div class="col s4">
                        <div class="input-field">
                            <input class="validate" id="date-of-creation" type="text">
                            <label for="date-of-creation">Date of creation</label>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <input class="validate" id="know-how" type="text">
                            <label for="know-how">Know how</label>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <input class="validate" id="employees" type="text">
                            <label for="employees">Number of employees</label>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <input class="validate" id="industrial-park" type="text">
                            <label for="industrial-park">Industrial park</label>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <input class="validate" id="production" type="text">
                            <label for="production">Average of production</label>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <input class="validate" id="certifications" type="text">
                            <label for="certifications">Certifications</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="fieldset-gray col s12">
                    <legend>
                        <div class="center-align grey lighten-2">5</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s12 fieldset-green">
                    <legend>
                        <div class="center-align light-green darken-1">6</div>
                    </legend>
                    <div class="col s6">
                        <div class="input-field">
                            <input class="validate" id="small-title" type="text">
                            <label for="small-title">Title on enterprise</label>
                        </div>
                    </div>
                    <div class="col s5 offset-s1">
                        <div class="input-field">
                            <input class="validate" id="ceo-name" type="text">
                            <label for="ceo-name">CEO name</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="ceo-words" class="materialize-textarea"></textarea>
                        <label for="ceo-words">CEO words</label>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="fieldset-gray col s3">
                    <legend>
                        <div class="center-align grey lighten-2">7</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset-gray col s3 offset-s1">
                    <legend>
                        <div class="center-align grey lighten-2">8</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset-gray col s4 offset-s1">
                    <legend>
                        <div class="center-align grey lighten-2">9</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s12 fieldset-green">
                    <legend>
                        <div class="center-align light-green darken-1">10</div>
                    </legend>
                    <div class="col s3">
                        <div class="input-field">
                            <input class="validate" id="small-title-one" type="text">
                            <label for="small-title-one">Title of division one</label>
                        </div>
                    </div>
                    <div class="col s3 offset-s1">
                        <div class="input-field">
                            <input class="validate" id="one-head" type="text">
                            <label for="one-head">Head of division one</label>
                        </div>
                    </div>
                    <div class="col s4 offset-s1">
                        <div class="input-field">
                            <input class="validate" id="one-name" type="text">
                            <label for="one-name">Name of division one</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="one-words" class="materialize-textarea"></textarea>
                        <label for="one-words">Words of division one</label>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s4 fieldset-gray">
                    <legend>
                        <div class="center-align grey lighten-2">11</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col s3 offset-s1 fieldset-gray">
                    <legend>
                        <div class="center-align grey lighten-2">12</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col s3 offset-s1 fieldset-gray">
                    <legend>
                        <div class="center-align grey lighten-2">13</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s3 fieldset-gray">
                    <legend>
                        <div class="center-align grey lighten-2">14</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col s8 offset-s1 fieldset-gray">
                    <legend>
                        <div class="center-align grey lighten-2">15</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s12 fieldset-green">
                    <legend>
                        <div class="center-align light-green darken-1">16</div>
                    </legend>
                    <div class="col s3">
                        <div class="input-field">
                            <input class="validate" id="small-title-two" type="text">
                            <label for="small-title-two">Title of division two</label>
                        </div>
                    </div>
                    <div class="col s3 offset-s1">
                        <div class="input-field">
                            <input class="validate" id="two-head" type="text">
                            <label for="two-head">Head of division two</label>
                        </div>
                    </div>
                    <div class="col s4 offset-s1">
                        <div class="input-field">
                            <input class="validate" id="two-name" type="text">
                            <label for="two-name">Name of division two</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="two-words" class="materialize-textarea"></textarea>
                        <label for="two-words">Words of division two</label>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s3 fieldset-gray">
                    <legend>
                        <div class="center-align grey lighten-2">17</div>
                    </legend>
                    <div class="file-field input-field">
                        <div class="file-path-wrapper">
                            <input type="file">
                            <input class="file-path validate" placeholder="upload your image" type="text">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col s8 offset-s1 fieldset-green">
                    <legend>
                        <div class="center-align light-green darken-1">18</div>
                    </legend>
                    <div class="input-field">
                        <input class="validate" id="end-words" type="text">
                        <label for="end-words">End words</label>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <button class="col s3 offset-s9 btn waves-effect waves-light light-green darken-1" name="action" type="submit">Apply
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</main>
<!--JavaScript at end of body for optimized loading-->
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/admin-companies.js" type="text/JavaScript"></script>
</body>
</html>