<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/head.html :: head"></th:block>
    <link th:href="@{/css/company.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/results.css}" rel="stylesheet">
    <title>Company</title>
</head>
<body>
    <header th:replace="fragments/header.html :: header"></header>
    <header th:replace="fragments/header-mobile.html :: header-mobile"></header>
    <main class="company-main" th:object="${company}">
        <article class="company-top">
            <ul class="company-back-link">
                <li><a href="/">Home</a></li>
                <li>-</li>
                <li><a href="/">Our trusted partners</a></li>
                <li>-</li>
                <li th:text="*{name}"></li>
            </ul>
            <div class="company-container-main-grid">
                <section class="company-situation">
                    <div class="company-map">
                        <img th:src="@{photo/company/{file}(file = *{companyMap})}" alt="map of company">
                        <div class="company-filter-map" th:text="*{address}"></div>
                    </div>
                    <div class="company-from-the-sky">
                        <img th:src="@{photo/company/{file}(file = *{pictureFromSky})}" alt="picture of company from the sky">
                    </div>
                </section>
                <section class="company-ceo">
                    <div class="company-ceo-description">
                        <ul class="company-container-ceo-description">
                            <li>
                                <h4>Date of creation</h4>
                                <p th:text="*{creationDate}"></p>
                            </li>
                            <li>
                                <h4>know how</h4>
                                <p th:text="*{knowhow}"></p>
                            </li>
                            <li>
                                <h4>Number of employees</h4>
                                <p th:text="*{employeesNumber}"></p>
                            </li>
                            <li>
                                <h4>Industrial park</h4>
                                <p th:text="*{industrialPark}"></p>
                            </li>
                            <li>
                                <h4>Average minimum of production</h4>
                                <p th:text="*{averageProduction}"></p>
                            </li>
                            <li>
                                <h4>Certifications</h4>
                                <p th:text="*{certifications}"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="company-ceo-photo">
                        <img th:src="@{photo/company/{file}(file = *{ceoPhoto})}" alt="ceo photo">
                    </div>
                    <div class="company-ceo-words">
                        <h2 th:text="*{ceoTitle}"></h2>
                        <p th:text="*{ceoWords}"></p>
                        <p class="company-name-ceo" th:text="|*{ceoName} - CEO|"></p>
                    </div>
                </section>
                <section class="company-thumbnails-service-one">
                    <div class="company-thumbnails-service-one-left">
                        <img th:src="@{photo/company/{file}(file = *{thumbnailOneTopLeft})}" alt="thumbnails of service one">
                    </div>
                    <div class="company-thumbnails-service-one-middle">
                        <img th:src="@{photo/company/{file}(file = *{thumbnailOneTopMiddle})}" alt="thumbnails of service one">
                    </div>
                    <div class="company-thumbnails-service-one-right">
                        <img th:src="@{photo/company/{file}(file = *{thumbnailOneTopRight})}" alt="thumbnails of service one">
                    </div>
                </section>
                <section class="company-container-service-one">
                    <div class="company-words-service-one">
                        <h2 th:text="*{serviceTopTitle}"></h2>
                        <p th:text="*{serviceTopWords}"></p>
                        <p class="company-name-manager-service-one" th:text="|*{serviceTopName} - *{ServiceTopFunction}"></p>
                    </div>
                    <div class="company-photo-service-one">
                        <img th:src="@{photo/company/{file}(file = *{thumbnailOneSideWords})}" alt="thumbnails of service one">
                    </div>
                </section>
                <section class="company-thumbnails-service-two">
                    <div class="company-thumbnails-service-two-left">
                        <img th:src="@{photo/company/{file}(file = *{thumbnailTwoTopLeft})}" alt="thumbnails of service two">
                    </div>
                    <div class="company-thumbnails-service-two-middle">
                        <img th:src="@{photo/company/{file}(file = *{thumbnailTwoTopMiddle})}" alt="thumbnails of service two">
                    </div>
                    <div class="company-thumbnails-service-two-right">
                        <img th:src="@{photo/company/{file}(file = *{thumbnailTwoTopRight})}" alt="thumbnails of service two">
                    </div>
                </section>
                <section class="company-container-service-two">
                    <div class="company-photo-service-two">
                        <img th:src="@{photo/company/{file}(file = *{thumbnailTwoSideWords})}" alt="thumbnails of service two">
                    </div>
                    <div class="company-words-service-two">
                        <h2 th:text="*{serviceBottomTitle}"></h2>
                        <p th:text="*{serviceBottomWords}"></p>
                        <p class="company-name-manager-service-tow" th:text="|*{serviceBottomName} - *{serviceBottomFunction}|"></p>
                    </div>
                </section>
            </div>
            <section class="company-end-words">
                <div class="company-end-photo">
                    <img th:src="@{photo/company/{file}(file = *{endPhoto})}" alt="last photo of company">
                    <p th:text="*{endWords}"></p>
                </div>
            </section>
        </article>
        <article class="company-bottom">
            <div th:block  th:replace="fragments/fragments_results.html :: results (${materials}, ${fabricPatterns},
    ${compositions}, ${origins}, ${companies}, ${prices}, ${certifications}, ${null}, ${products}, ${true}, *{name})">
            </div>
        </article>
        <th:block th:include="fragments/nav_mobile.html :: nav"> </th:block>
    </main>
    <script src="/js/search-bar-mobile.js" type="text/javascript"></script>
    <script src="/js/results.js" type="text/javascript"></script>
</body>
</html>