<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="results-filters-radio-mobile" id="filter-more-supplier" th:if="${name == 'supplier'}">
    <div class="results-filters-radio-table-supplier" th:each="list : ${lists}">
        <label class="results-filters-radio" th:for="${list.name}">
            <span th:text="${list.name}"></span>
            <input class="results-filters-radio-input-supplier" name="supplier" th:id="${list.name}"
                   th:value="${list.id}" type="radio">
            <span class="checkmark"></span>
        </label>
    </div>
</div>

<div class="results-filters-radio-mobile" id="filter-more-origin" th:if="${name == 'origin'}">
    <div class="results-filters-radio-table-origin" th:each="list: ${lists}">
        <label class="results-filters-radio" th:for="${list.country}">
            <span th:text="${list.country}">Italy</span>
            <input class="results-filters-radio-input-origin" name="country" th:id="${list.country}"
                   th:value="${list.id}"
                   type="radio">
            <span class="checkmark"></span>
        </label>
    </div>
</div>

<div class="filters-table results-filters-radio-mobile" id="filter-more-composition" th:if="${name == 'composition'}">
    <div class="results-filters-radio-table-compo" th:each="list : ${lists}">
        <input class="results-filters-radio-input-compo" name="fiber" th:id="${list.name}"
               th:value="${list.id}"
               type="radio">
        <label class="results-filters-radio filter-table-item" th:for="${list.name}" th:text="${list.name}">Cotton</label>
    </div>
</div>

<div class="results-filters-radio-mobile" id="filter-more-certification" th:if="${name == 'certification'}">
    <div class="results-filters-radio-table-cert" th:each="list : ${lists}">
        <label class="results-filters-radio" th:for="${list.name}">
            <span th:text="${list.name}">GOTS</span>
            <input class="results-filters-radio-input-cert" name="certification"
                   th:id="${list.name}" th:value="${list.id}"
                   type="radio">
            <span class="checkmark"></span>
        </label>
    </div>
</div>
</body>
</html>