<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="results-products" id="results-products">
    <div class="card-product" th:each="product : ${products}">
        <a href="/company" th:href="@{/company(id = ${product.company.id})}"><h4
                class="card-product-info-supplier" th:text="${product.company.name}">VELCOREX
            SINCE 1828</h4></a>
        <div class="card-product-image">
            <a href="/product" th:href="@{/product(reference = ${product.id})}"><img
                    th:alt="${product.imageProducts.get(0).image}"
                    th:src="@{/image/product_images/{product}(product = ${product.imageProducts.get(0).image})}"></a>
            <div class="card-product-image-hover">
                <a><i class="fas fa-heart"></i></a>
                <a><i class="fas fa-suitcase"></i></a>
            </div>
        </div>
        <div class="card-product-info">
            <div class="card-product-mobile-rs">
                <p class="card-product-info-name" th:text="${product.reference}">Norwood</p>
                <div class="card-product-image-rs">
                    <a><i class="fas fa-heart"></i></a>
                    <a><i class="fas fa-suitcase"></i></a>
                </div>
            </div>
            <p class="card-product-info-descr"><span th:text="|${product.feature.fabric.fabric} / |"></span>
                <a th:href="@{/results(search = ${product.feature.handFeel.handFeel})}"><span
                        th:text="|${product.feature.handFeel.handFeel} / |"></span></a>
                <a th:href="@{/results(search = ${product.feature.finishing.finishing})}"><span
                        th:text="|${product.feature.finishing.finishing} / |"></span></a>
                <a th:href="@{/results(search = ${product.feature.look.look})}"><span
                        th:text="${product.feature.look.look}"></span></a> /
                <a th:each="property : ${product.feature.technicalProperties}"
                   th:href="@{/results(search = ${property.technicalProperty})}">
                    <span th:text="${property.technicalProperty}">Natural stretch</span></a>
            </p>
            <p class="card-product-info-compo">
                            <span th:each="composition : ${product.compositions}">
                                <span th:text="|${composition.pourcentage} % |"></span>
                                <a th:href="@{/results(search = ${composition.fiber.name})}"><span
                                        th:text="|${composition.fiber.name} &nbsp;|"></span></a>
                            </span>
            </p>
        </div>
    </div>
</div>
</body>
</html>