<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>Product Administration</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/productAdmin.css}" type="text/css">
    <script src="../static/js/sidebar.js"></script>
</head>
<body>
<header th:replace="fragments/admin_header.html :: admin-header"></header>
<main class="admin-product">
    <h1>Product</h1>
    <section class="section-container product-admin-form" id="contact">
        <form action="" class="col s10">
            <div class="row">
                <div class="input-field col s6">
                    <input class="validate" id="first_name" type="text">
                    <label for="first_name">Search by reference</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4">
                    <input class="validate" id="reference" type="text">
                    <label for="reference">Reference</label>
                </div>
                <div class="col l4"></div>
                <div class="input-field col l4">
                    <select id="select-company">
                        <option disabled selected value="">Select company</option>
                        <option th:each="company: ${companies}" th:text="${company.name}" th:value="${company.id}">
                            BRICKS
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l12">
                    <textarea class="materialize-textarea" id="description"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input class="validate" id="design_number" type="text">
                    <label for="design_number">Design number</label>
                </div>
                <div class="input-field col s4">
                    <select id="select_material">
                        <option disabled selected value="">Select material</option>
                        <option th:each="material: ${materials}" th:text="${material.name}" th:value="${material.id}">
                            Woven
                        </option>
                    </select>
                </div>
                <div class="input-field col s4">
                    <select>
                        <option disabled selected value="">Select Fabric Pattern</option>
                        <option th:each="fabricPattern :${fabricPatterns}" th:text="${fabricPattern.name}"
                                th:value="${fabricPattern.id}">FLEECE
                        </option>
                    </select>
                </div>
            </div>
            <div class="row col l12">
                <div>
                    <div class="input-field col l3">
                        <select id="fiber1">
                            <option disabled selected value="">Select fiber</option>
                            <option th:each="fiber :${fibers}" th:text="${fiber.name}" th:value="fiber.id">ABACA
                            </option>
                        </select>
                    </div>
                    <div class="input-field col l1">
                        <input class="validate" id="pourcentage-fiber1" placeholder="%" type="number">
                        <label for="pourcentage-fiber1">Pourcentage</label>
                    </div>
                </div>
                <div>
                    <div class="input-field col l3">
                        <select id="fiber2">
                            <option disabled selected value="">Select fiber</option>
                            <option th:each="fiber :${fibers}" th:text="${fiber.name}" th:value="fiber.id">ABACA
                            </option>
                        </select>
                    </div>
                    <div class="input-field col l1">
                        <input class="validate" id="pourcentage-fiber2" placeholder="%" type="number">
                        <label for="pourcentage-fiber2">Pourcentage</label>
                    </div>
                </div>
                <div>
                    <div class="input-field col l3">
                        <select id="fiber3">
                            <option disabled selected value="">Select fiber</option>
                            <option th:each="fiber :${fibers}" th:text="${fiber.name}" th:value="fiber.id">ABACA
                            </option>
                        </select>
                    </div>
                    <div class="input-field col l1">
                        <input class="validate" id="pourcentage-fiber3" placeholder="%" type="number">
                        <label for="pourcentage-fiber3">Pourcentage</label>
                    </div>
                </div>
            </div>
            <div class="row col l12">
                <div>
                    <div class="input-field col l3">
                        <select id="fiber4">
                            <option disabled selected value="">Select fiber</option>
                            <option th:each="fiber :${fibers}" th:text="${fiber.name}" th:value="fiber.id">ABACA
                            </option>
                        </select>
                    </div>
                    <div class="input-field col l1">
                        <input class="validate" id="pourcentage-fiber4" placeholder="%" type="number">
                        <label for="pourcentage-fiber4">Pourcentage</label>
                    </div>
                </div>
                <div>
                    <div class="input-field col l3">
                        <select id="fiber5">
                            <option disabled selected value="">Select fiber</option>
                            <option th:each="fiber :${fibers}" th:text="${fiber.name}" th:value="fiber.id">ABACA
                            </option>
                        </select>
                    </div>
                    <div class="input-field col l1">
                        <input class="validate" id="pourcentage-fiber5" placeholder="%" type="number">
                        <label for="pourcentage-fiber5">Pourcentage</label>
                    </div>
                </div>
                <div>
                    <div class="input-field col l3">
                        <select id="fiber6">
                            <option disabled selected value="">Select fiber</option>
                            <option th:each="fiber :${fibers}" th:text="${fiber.name}" th:value="fiber.id">ABACA
                            </option>
                        </select>
                    </div>
                    <div class="input-field col l1">
                        <input class="validate" id="pourcentage-fiber6" placeholder="%" type="number">
                        <label for="pourcentage-fiber6">Pourcentage</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4">
                    <input class="validate" id="width" type="number">
                    <label for="width">Width</label>
                </div>
                <div class="input-field col l4">
                    <input class="validate" id="weight" type="number">
                    <label for="weight">Weight</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4">
                    <input class="validate" id="pieceLenght" type="number">
                    <label for="pieceLenght">Piece Length</label>
                </div>
                <div class="input-field col l4">
                    <select id="origin">
                        <option disabled selected value="">Select origin</option>
                        <option th:each="origin : ${origins}" th:text="${origin.country}" th:value="${origin.id}">
                            Belgium
                        </option>
                    </select>
                </div>
                <div class="input-field col l4">
                    <select id="price">
                        <option disabled selected value="">Select price range</option>
                        <option th:each="price : ${prices}" th:text="|${price.price} Euros |" th:value="${price.id}">1
                            to 3,99
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4">
                    <input class="validate" id="cMoq" type="number">
                    <label for="cMoq">Collection MOQ</label>
                </div>
                <div class="input-field col l4">
                    <input class="validate" id="Pmoq" type="number">
                    <label for="Pmoq">Production MOQ</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4">
                    <input class="validate" id="cLeadtime" type="number">
                    <label for="cLeadtime">Collection Leadtime</label>
                </div>
                <div class="input-field col l4">
                    <input class="validate" id="pLeadtime" type="number">
                    <label for="pLeadtime">Production Leadtime</label>
                </div>
            </div>
            <div class="row">
                <p>Carelabel symbol :</p>
                <div class="input-field col l8">
                    <select class="icons" multiple>
                        <option disabled value="">Select carelabel</option>
                        <option th:attr="data-icon=@{/image/carelabel/{image}(image=${carelabel.image})}" th:each="carelabel: ${carelabels}"
                                th:text="${carelabel.label}"
                                th:value="${carelabel.id}">BLEACH IF
                            NEEDED
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l8">
                    <textarea class="materialize-textarea" id="washingComments"></textarea>
                    <label for="washingComments">Washing comments</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l8">
                    <select multiple>
                        <option disabled value="">Select certification</option>
                        <option th:attr="data-icon=@{/image/logo_certification/{image}(image=${certification.image})}" th:each="certification : ${certifications}"
                                th:text="${certification.name}"
                                th:value="${certification.id}">
                            GOTS
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l8">
                    <select multiple>
                        <option disabled selected value="">Select your technical properties</option>
                        <option th:each="technicalPropertie : ${technicalProperties}"
                                th:text="${technicalPropertie.technicalProperty}" th:value="${technicalPropertie.id}">
                            QUICK DRY
                        </option>
                    </select>
                </div>
                <div class="input-field col l4">
                    <select>
                        <option disabled selected value="">Select fabric</option>
                        <option th:each="fabric : ${fabrics}" th:text="${fabric.fabric}" th:value="${fabric.id}">CREPE
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4">
                    <select>
                        <option disabled selected value="">Select handfeel</option>
                        <option th:each="handfeel : ${handfeels}" th:text="${handfeel.handFeel}"
                                th:value="${handfeel.id}">DRY HANDFEEL
                        </option>
                    </select>
                </div>
                <div class="input-field col l4">
                    <select>
                        <option disabled selected value="">Select finishing</option>
                        <option th:each="finishing : ${finishings}" th:text="${finishing.finishing}"
                                th:value="${finishing.id}">NON IRON
                        </option>
                    </select>
                </div>
                <div class="input-field col l4">
                    <select>
                        <option disabled selected value="">Select look</option>
                        <option th:each="look : ${looks}" th:text="${look.look}" th:value="${look.id}">WORKWEAR</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col l8 file-field input-field">
                    <p>Picture : </p>
                    <div class="btn">
                        <i class="large material-icons">archive</i>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <select multiple>
                        <option disabled value="">Select favorite product</option>
                        <option th:each="product : ${products}" th:text="${product.reference}" th:value="${product.id}">GOTS</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <button class="col s2 offset-s5 btn waves-effect waves-light" name="action" type="submit">Apply
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </section>
</main>
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/productAdmin.js" type="text/javascript"></script>
</body>
</html>