<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head.html :: head"></th:block>
    <title>Product</title>
    <link rel="stylesheet" th:href="@{css/product.css}" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet" type="text/css"/>
    <link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<header th:replace="fragments/header-mobile.html :: header-mobile"></header>
<main class="product-body">
    <div class="product-text-top">
        <a href="/"><p>Home - </p></a>
        <a href="/"><p>&nbsp;Our trusted partners - </p></a>
        <a th:href="@{/company?id={id}(id = ${product.company.id})}"><p th:text="|&nbsp;${product.company.name} - &nbsp;|"> Velcorex - </p></a>
        <a href="/results"><p>Results - </p></a>
        <a th:href="@{/product?reference={id}(id=${product.id})}"><p th:text="|&nbsp;${product.reference}|"> Country</p></a>
    </div>
    <section class="product-section-top">
        <div class="product-container-top">
            <div class="product-slideshow-container">
                <div class="mySlides">
                    <img th:src="@{photo/products/{file}(file = ${product.imageProducts.get(0).image})}">
                </div>
            </div>
            <div class="product-description">
                <a th:href="@{/company?id={id}(id = ${product.company.id})}"><img
                        th:src="@{photo/company/{file}(file = ${product.company.getLogo()})}"></a>
                <h5 th:text="${product.reference}">COUNTRY</h5>
                <p>
                    <span th:if="${product.feature.fabric}">[(${product.feature.fabric.fabric})]</span> /
                    <span th:if="${product.feature.handFeel}">[(${product.feature.handFeel.handFeel})]</span> /
                    <span th:if="${product.feature.finishing}">[(${product.feature.finishing.finishing})]</span> / <br>
                    <span th:if="${product.feature.look}">[(${product.feature.look.look})]</span> /
                    <span th:each="property : ${product.feature.technicalProperties}"
                          th:text="${property.technicalProperty}">Natural stretch</span>
                </p>
                <p><b><u>Composition: </u></b> <span th:each="composition : ${product.compositions}">
                        <span th:text="|${composition.pourcentage} % |"></span>
                        <span th:if="${composition.fiber}">[(${composition.fiber.name})] &nbsp;</span>
                </span></p>
                <p><b><u>Usable width: </u></b><span
                        th:text="|${product.width} centimeters|"> 138 centimeters</span></p>
                <p><b><u>Weight: </u></b> <span th:text="|${product.weight} grams / sqm |"></span></p>
                <p><b><u>Price range: </u></b><span th:if="${product.price}">[(${product.price.price})]€</span></p>
                <p><b><u>Certifications: </u></b></p>
                <div class="product-logo-certif">
                    <span th:each="certification : ${product.certifications}">
                    <img th:src="@{image/logo_certification/{image}(image= ${certification.image})}"></span>
                </div>
                <a th:href="@{/files/{productId}(productId = ${product.id})}" href="#">Download the complete technical sheet</a>
            </div>
        </div>
        <div class="product-button-top">
            <div>
                <form class="product-button">
                    <i class="fas fa-suitcase"></i>
                    <input class="product-button-meeting" type="submit" value="Add to meeting">
                </form>
            </div>
            <div>
                <form class="product-button">
                    <i class="fas fa-heart"></i>
                    <input class="product-button-wishlist" type="submit" value="Add to a whishlist">
                </form>
            </div>
        </div>
    </section>
    <section th:if="${product.products.size() > 0 }" class="section-product-bot">
        <h3 >You may also like</h3>
        <p class="product-text-after-title">These propositions are not the results of an algorithm and these fabrics
            were carefully selected by our team</p>
        <div class="product-carousel-bot">
            <div class="card-product" th:each="product :${product.products}">
                <h4 class="card-product-info-supplier" th:text="${product.company.name}">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a th:href="@{/product?reference={id}(id=${product.id})}"><img
                            th:alt="${product.imageProducts.get(0).image}"
                            th:src="@{photo/products/{file}(file = ${product.imageProducts.get(0).image})}"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name" th:text="${product.reference}">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr">
                        <span th:if="${product.feature.fabric}">[(${product.feature.fabric.fabric})]</span> /
                        <span th:if="${product.feature.handFeel}">[(${product.feature.fabric.fabric})]</span> /
                        <span th:if="${product.feature.finishing}">[(${product.feature.fabric.fabric})]</span> / <br>
                        <span th:if="${product.feature.look}">[(${product.feature.fabric.fabric})]</span> /
                        <span th:each="property : ${product.feature.technicalProperties}"
                              th:text="${property.technicalProperty}">Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">
                            <span th:each="composition : ${product.compositions}">
                                <span th:text="|${composition.pourcentage} % |"></span>
                                <span th:text="|${composition.fiber.name} &nbsp;|"></span>
                            </span>
                    </p>
                </div>
            </div>

        </div>
        <div class="arrow_prev_like">
            <span><i class="fas fa-chevron-left"></i></span>
        </div>
        <div class="arrow_next_like">
            <span><i class="fas fa-chevron-right"></i></span>
        </div>
    </section>
    <section class="section-product-bot">
        <h3>Recently viewed</h3>
        <div class="product-carousel-bottom-review">

            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
            <div class="card-product">
                <h4 class="card-product-info-supplier">VELCOREX SINCE 1828</h4>
                <div class="card-product-image">
                    <a href="/product"><img alt="Norgate" src="/image/product_images/Norgate.JPG"></a>
                    <div class="card-product-image-hover">
                        <a><i class="fas fa-heart"></i></a>
                        <a><i class="fas fa-suitcase"></i></a>
                    </div>
                </div>
                <div class="card-product-info">
                    <div class="card-product-mobile-rs">
                        <p class="card-product-info-name">Norgate</p>
                        <div class="card-product-image-rs">
                            <a><i class="fas fa-heart"></i></a>
                            <a><i class="fas fa-suitcase"></i></a>
                        </div>
                    </div>
                    <p class="card-product-info-descr"><span>Corduroy</span> / <span>Soft handfeel</span> /
                        <span>Millwashed</span>
                        /
                        <span>Draping</span> / <span>Natural stretch</span>
                    </p>
                    <p class="card-product-info-compo">98% cotton 2% Elasthanne</p>
                </div>
            </div>
        </div>
        <div class="arrow_prev_rev">
            <span><i class="fas fa-chevron-left"></i></span>
        </div>
        <div class="arrow_next_rev">
            <span><i class="fas fa-chevron-right"></i></span>
        </div>
    </section>
    <th:block th:include="fragments/nav_mobile.html :: nav"> </th:block>
</main>
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" type="text/javascript"></script>
<script src="js/productcar.js" type="text/javascript"></script>
<script src="/js/search-bar-mobile.js" type="text/javascript"></script></body>
</html>