<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:include="fragments/head.html :: head"> </th:block>
	<title>Upload</title>
	<link th:href="@{/css/results.css}" rel="stylesheet">
</head>
<body>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/upload">
			<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="|${file} + (download)|"></a><br>
			</li>
		</ul>
		<ul>
			<li th:each="file : ${shortFiles}">
				<a th:href="@{/get/{file}(file=${file})}" th:text="|${file} + (view)|"></a>
			</li>
		</ul>
	</div>

</body>
</html>